# Video Game Sales / Roman Kireev

In [2]:
# Global imports
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
df=pd.read_csv('./vgsales.csv')
df=df.loc[df['Global_Sales'] > 0.1]

In [3]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

# 1.Which company is the most common video game publisher?

In [10]:
df.Publisher.mode()

0    Electronic Arts
dtype: object

# 2 .What’s the most common platform?

In [5]:
df.Platform.mode()

0    PS2
dtype: object

# 3. What about the most common genre?

In [6]:
df.Genre.mode()

0    Action
dtype: object

# 4. What are the top 20 highest grossing games?

In [101]:
df.loc[0:20, ['Name', 'Global_Sales']]

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22
20                 Pokemon Diamond/Pokemon Pearl         18.36

# 5. For North American video game sales, what’s the median?

In [4]:
df.loc[:,['NA_Sales']].median()

NA_Sales    0.18
dtype: float64

# 6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [91]:
standard_dev_na = df.NA_Sales.std()
na_mean = df.NA_Sales.mean()
largest = df.NA_Sales.nlargest(1)[0]
dev_over = (largest - na_mean ) / standard_dev_na
dev_over

40.95953868369813

# 7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [84]:
df.groupby('Platform').Global_Sales.mean()

Platform
2600    0.739924
3DS     0.846272
DC      0.482667
DS      0.699754
GB      2.743118
GBA     0.602440
GC      0.547230
GEN     1.634118
N64     0.845276
NES     2.613958
NG      0.190000
PC      0.779735
PS      0.795396
PS2     0.805961
PS3     0.941710
PS4     1.289573
PSP     0.490934
PSV     0.338961
SAT     0.282404
SCD     0.820000
SNES    1.038895
TG16    0.140000
WS      0.278000
Wii     0.990482
WiiU    0.806970
X360    0.993059
XB      0.478807
XOne    0.940408
Name: Global_Sales, dtype: float64

# 8 Compare the number of sales, min, max and mean for all the platforms

In [94]:
df.groupby('Platform').Global_Sales.agg(['count','min','max','mean'])

          count   min    max      mean
Platform
2600        131  0.13   7.81  0.739924
3DS         279  0.11  14.35  0.846272
DC           30  0.11   2.42  0.482667
DS         1099  0.11  30.01  0.699754
GB           93  0.12  31.37  2.743118
GBA         504  0.11  15.85  0.602440
GC          343  0.11   7.07  0.547230
GEN          17  0.12   6.03  1.634118
N64         254  0.11  11.89  0.845276
NES          96  0.11  40.24  2.613958
NG            6  0.12   0.25  0.190000
PC          302  0.11   8.11  0.779735
PS          897  0.11  10.95  0.795396
PS2        1520  0.11  20.81  0.805961
PS3        1000  0.11  21.40  0.941710
PS4         211  0.11  14.24  1.289573
PSP         546  0.11   7.72  0.490934
PSV         154  0.11   2.25  0.338961
SAT         104  0.11   1.93  0.282404
SCD           2  0.14   1.50  0.820000
SNES        190  0.11  20.61  1.038895
TG16          1  0.14   0.14  0.140000
WS            5  0.17   0.51  0.278000
Wii         913  0.11  82.74  0.990482
WiiU         99  0.11   6.96  0.806970
X360        971  0.11  21.82  0.993059
XB          503  0.11   8.49  0.478807
XOne        147  0.11   7.30  0.940408

# 9 What are the top 5 best selling titlel for PS4

In [ ]:
df.loc[df.Platform == 'PS4', ['Name','Global_Sales']].head()

# 10 what is the mean sales of storts titles in North America

In [20]:
df[df.Genre=='Sports'].NA_Sales.mean()

0.3931209439528024